.page {
  width: 100%;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #2a2c2f;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
}

@media (max-width: 632px) {
  .page {
    padding-top: 16px;
  }
}