.page {
  width: 100%;
  margin: 0;
  padding: 28px 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #2a2c2f;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
}