.places {
  display: grid;
  gap: 80px;
}

@media (max-width: 976px) {
  .places {
    gap: clamp(73px, 7.9vw, 80px);
  }
}

@media (max-width: 632px) {
  .places {
    width: 100%;
    gap: clamp(50px, 9.5vw, 73px);
  }
}