.page__container {
  width: calc(100% - 2 * 48px);
  max-width: 984px;
}

@media screen and (max-width: 976px) {
  .page__container {
    width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 632px) {
  .page__container {
    width: calc(100% - 2 * 16px);
  }
}