.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

@media (max-width: 720px) {
  .intro__title {
    font-size: clamp(32px, 10vw, 54px);
    line-height: 1.09;
  }
}